.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Make services responsive */

/* smartphone */
@media only screen and (max-width: 767px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
} /* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
} /* desktop */
@media screen and (min-width: 1024px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
